@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');

body{
    margin:0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Zilla Slab', serif;
}

#container{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #488286;
    padding:0.5em;
}

.currencySelector{
    font-size: 1.5em;
    border:0px;
    outline:0px;
    background-color:#488286;
    color:white
}

#fromName, #toName, #swapButton{
    padding:0.5em;
    font-size: 1.5em;
    background-color:#488286;
    margin-bottom: 16px;
    margin-top: 0px;
    color:white
}


#swapButton{
    padding:0.5em;
    font-size: 1.5em;
    background-color:#488286;
    margin-bottom: 0px;
    margin-top: 0px;
    border-color:#373e40;
    color:white
}

#swapButton:hover{
    border-color: #488286;
}

#swapButton:active{
    background-color:#373e40;
}

#errorMessage{
    display: none;
    padding:0.5em;
    font-size: 1em;
    font-weight: 700;
    background-color:#E71D36;
    margin-bottom: 16px;
    margin-top: 0px;
    color:white
}


.valueInput{
    border-style: inset;
    border-color: #b7d5d4;
    border-width: 1px;
    outline:0px;
    width: 100%;
    font-size:2em;
    width: 100%;
    background-color: #b7d5d4;
}

.formContainer{
    width: 500px;
    text-align: left;
    background-color: #373e40;
    margin-top:1em;
    margin-bottom:1em;
    padding:1em;
}

@media only screen and (max-width: 600px) {
    #fromForm, #toForm{
        width:98vw;
        box-sizing: border-box;
    }
  }