#contenedor{
	margin:0 auto;
	top:50%;
	left:50%;
	width:600px;
	padding:20px;
}

.caja{
	height:20px;
	color:#cccccc;

	text-align:center;
}
#sexo{
	background-color:#FFFFFF;
}

#guardar{
	
	background-color:#cccccc;
	
}
#actualizar{
	background-color:#c9f4b2;
	display:none;
}
#cancelar{
	background-color:#f8d6cd;
	display:none;
}
.btn{
	width:100%;
	border:0px;
	height:25px;
	color:#FFFFFF;
}

#lista{
	text-align:center;
	
}
ul{
	list-style:none;
}

table{
	width:100%;
}
table,th,td{
	border:1px solid #efefef;
	border-collapse:collapse;
}
th{
	background-color:#cccccc;
	color:#FFFFFF;
}
td{
	color:#cccccc;
}

spam{
	cursor:pointer;
}