#cookiepage
{
	height: 480px;			/* entspricht in etwa 15 Blˆcken -> sollte so bleiben!!! */
	width: 640px;			/* entspricht in etwa 20 Blˆcken -> bei ƒnderung auch die folgenden Zeilen anpassen!!! */
	
	position: absolute;		/* damit man relativ zum body ausrichten kann */
	top: 50%;
	left: 50%;				/* linke, obere Ecke exakt in Fenstermitte */
	margin-top: -240px;		/* jetzt um halbe background-Ausmaﬂe nach links oben verschoben */
	margin-left: -320px;	/* => background-Div ist immer exakt mittig im Browserfenster :-) */
	
	z-index: 99999;			/* cookiepage ist vor allem auﬂer dem Ladebildschirm!!! */
	
	background-color: rgba(0,0,0,0.7); /* ein leicht durchsichtiges Grau */
	font-family: 'Comic Sans MS' , 'Georgia' , 'Arial';
	font-size: 28px;
	font-weight: bold;
	color: white;
}

#cookietext
{
	width: 400px;
	
	position: absolute;
	top: 150px;
	left: 120px;
	
	text-align: center;
}

#exit_cookiepage, #continue, #newgame2
{
	padding: 5px 10px;
	
	position: absolute;
	
	text-align: center;
	border: 2px #000 solid;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	font-weight: bold;
	box-shadow: 1px 1px 5px #333;
}

#continue, #newgame2
{
	background: #f90;
	background: -webkit-linear-gradient(top, #f90, #fb0, #f90);
	background: -moz-linear-gradient(top, #f90, #fb0, #f90);
	background: -o-linear-gradient(top, #f90, #fb0, #f90);
	background: linear-gradient(top, #f90, #fb0, #f90);	

	width: 100px;
	bottom: 34px;
	font-size: 12px;
	color: black;
}

#exit_cookiepage
{
	padding: 0px, 0px, 8px, 0px;
	width: 15px;
	height: 24px;
	background-color: red;
	font-size: 16px;
	top: 15px;
	right: 16px;
}

#exit_cookiepage:hover, #continue:hover, #newgame2:hover
{
	box-shadow: 3px 3px 5px #000;
	cursor: pointer;
}

#continue
{
	left: 114px;
}

#newgame2
{
	right: 114px;
}





