/* Code By Webdevtrick ( https://webdevtrick.com ) */
:root {
  --color-primary: #cccccc;
  --color-accent: #cccccc;
  --color-background: #cccccc;
}

* {
  -webkit-transform-origin: inherit;
          transform-origin: inherit;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: var(--color-background);
  

  background-image: url("noise.png");



}

.clock {
  width: 100vmin;
  height: 100vmin;
  color: var(--color-primary);
  fill: currentColor;
  -webkit-transform-origin: 50px 50px;
          transform-origin: 50px 50px;
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  
}

.clock line {
  stroke: currentColor;
  stroke-linecap: round;

}

.lines {
  opacity: 0.5;
  stroke-width: 0.5px;
}

.line-1 {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.line-2 {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.line-3 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.line-4 {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}

.line-5 {
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
}

.line-6 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.line-7 {
  -webkit-transform: rotate(210deg);
          transform: rotate(210deg);
}

.line-8 {
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg);
}

.line-9 {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.line-10 {
  -webkit-transform: rotate(300deg);
          transform: rotate(300deg);
}

.line-11 {
  -webkit-transform: rotate(330deg);
          transform: rotate(330deg);
}

.line-12 {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.line {
  stroke-width: 1.5px;
  transition: -webkit-transform 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 200ms cubic-bezier(0.175, 1, 0.32, 1.275);
  opacity: 0.5;
}

.line-second {
  color: var(--color-accent);
  stroke-width: 1px;
  opacity: 0.5;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
