#chessboard {
  width: 600px;
  height: 600px;
  border: 1px solid black;
  margin: 30px auto;
  position: relative;
}

.chessboard-modal-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.chessboard-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 5px;
}

.piece-select-prompt {
  text-align: center;
  margin: 10px;
}

.piece-select {
  margin: 10px 10px;
}

.new-game {
  margin: 10px auto;
  display: block;
}

.green, .brown, .white {
  text-align: center;
  font-size: 70px;
  line-height: 75px;
  float: left;
  cursor: pointer;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.brown, .white {
  width: 75px;
  height: 75px;
}

.brown {
  background: chocolate;
}

.white {
  background: white;
}

.green {
  background: green;
  width: 73px;
  height: 73px;
  border: 1px solid black;
}

.selected-piece {
  color: blue;
}

.group:after {
  display: block;
  content: "";
  clear: both;
}
