<style>
    
/* Background-image URL */
	
.background-image { background-image: url('../texturas/motion2018-dark-vermelho.png ');
	            width: 100%; height: auto; margin:0; padding:0; 
	            top: 0; bottom: 0; left: 0; right: 0; 
		    background-repeat: no-repeat; 
		    background-origin: content-box; 
		    background-size: cover; 
		    position: relative; 
		    border: 0px solid #aaa; 
		    }
	
/* Fim Background-Image */

</style>
