
<style> 

    /* CSS do Carousel / Banner de imagens */
    /* Style The Carousel / Use CSS to style the carousel: */  
    /* Set width to 100% / width: 600px; height: 200px; */  
    /* Hide the carousel text when the screen is less than 600 pixels wide */
	
    /* Media query */
    @media only screen and (max-width: 500px;) 
	 {		
	 .carousel-caption { display: none; }
	
	 .carousel-inner img { -webkit-filter: grayscale(0%); margin: 0; padding: 10px; align:center;
                               filter: grayscale(0%); /* make all photos black and white */ 
	                       width: 100%; height:auto; } /* Set width to 100% / width: 600px; height: 200px; */ 
						  
        .carousel-caption p , h3 { color: #ffffff !important; width:100%; height:auto; } /*color #ffffff branco */
	
	.carousel-control.right, .carousel-control.left { background-image: none; color: #f4511e; }
	
        .carousel-indicators li { border-color: #f4511e; }
	
        .carousel-indicators li.active { background-color: #f4511e; }
	}
	
    </style>
