        
   <style type="text/css">

    /* CSS / Folha de Estilo / Style Bootstrap */
	/* CSS / Cores padrão */

    /* color: #f4511e;  Orange / laranja abobora escuro */
    /* color: #9F00FF;  violeta médio royal  */
    /* color: #c71585;  rosa médio royal     */
    /* color: #005aff;  azul royal           */
    /* color: #3B5998;  azul-escuro          */
    /* color: #55ACEE;  azul-claro           */
    /* color: #4CAF50;  verde medio 		 */
    /* color: #ffffff;  cinza prata claro    */
    /* color: #f1f1f1;  cinza muito claro    */
    /* color: #303030;  cinza muito escuro   */
    /* color: #777777;  cinza médio          */
    /* color: #818181;  cinza claro          */
		/* color: #ffab62 = laranja medio 
		/* color: #f4511e = laranja escuro 
        /* color: #9F00FF = violeta médio royal = #6351ce = violeta
        /* color: #c71585 = rosa médio royal 		 
		/* color: #fffddd = amarelo claro 
		/* color: #ffffff = branco escuro 
		/* color: #005aff = azul royal 
        /* color: #4CAF50 = verde = #90EE90 (verde claro)
        /* color: #D6EFFF = azul muito claro = #e3f2fd
        /* color: #C6E9FF = azul claro 	
        /* color: #6D6D6D = cinza escuro / #474A51 (cinza muito escuro) */
		/* color: #d5d5d5;  cinza prata          */
	    /* color: #f2f2f2;  branco esverdeado claro */
        /* color: #005f5f;  verde azulado       */ 
		/* color: #f4511e = laranja escuro */
        /* color: #9F00FF = violeta médio royal */
        /* color: #c71585 = rosa médio royal */		 
		/* color: #fffddd = amarelo claro */
		/* color: #ffffff = branco escuro */
		/* color: #005aff = azul royal */
        /* color: #4CAF50 = verde */
        /* color: #D6EFFF = azul muito claro */
        /* color: #C6E9FF = azul claro */
		/* color: #d5d5d5;  cinza prata          */
	    /* color: #f2f2f2;  branco esverdeado claro */
        /* color: #005f5f;  verde azulado       */ 


    /* Background linear-gradient //
	   background:linear-gradient(to right, #c71585, #005aff, #6351ce, #c71585); (rosa) 	
	   background:linear-gradient(to right, #9F00FF, #6351ce, #9c27b0); 
	   background:linear-gradient(to right, #6351ce, #9c27b0, #6351ce); 
	*/
	
	
    /* Media Screen / Responsive Web Design / Breakpoint */
    /* mobile = Extra small devices (phones, 600px and down) */
    @media screen and (max-width: 600px) {
    .body { background-color: olive; color:white; }}
				
 
    /* #Laptop = Medium devices (landscape Laptops, 992px and up) */
    @media screen and (max-width: 992px) {
	.body { background-color: blue; color:white; }}
	   	  
    #principal { margin: 0px; padding: 0px; height: 100%; color:#eeeeee;
	             background-color: #273b49; /* cinza azulado */ }

	/* Código de página UTF-8 / ISO-8859-1 / PT-BR */
	@charset "ISO-8859-1"; @language "BR";	

    /* Responsive Web Page */	
	* { top:0; bottom:0; left:0; right:0; margin:0; padding:0; } 
	
	/*  Charset = "ISO-8859-1" */ 	 
	.html { @charset "ISO-8859-1"; @language "BR"; }
		
    .body { background:linear-gradient(to right, #c71585, #005aff, #6351ce, #c71585); 
	        color: #eeeeee; font-size: 12px; font-family: "Arial, Georgia, Sans Serif"; 
			text-align: left; font-stretch:normal; font-style:normal; font-weight:normal; 
			margin:0; padding: 19px; letter-spacing: normal; word-spacing: medium; 
		    width: 100%; height: 100%; border: 0px solid #8B0000;}
	
    .div, .article, .blockquote { display:inline; text-align: justify; width: 100%; }    	
	
	div.a { line-height: normal; }
  
	.aside { width: 30%; padding-left: 15px; margin-left: 15px; float: right;
            font-style: italic; background-color: #eee;} 
	
    .jumbotron { font-family: Verdana; color: #fff; padding: 90px; background-color: #f4511e; /* Orange */ }

	.container, .container-fluid, .flex-container { display: inline; margin: 0; padding: 0;
		                                         flex-wrap: nowrap; flex-flow: row nowrap; 
												 justify-content: flex-start; }
									   
    .scrollbar { color:#f4511e; cursor: default; }


	/* CSS / images responsive Background/ The image used / Bootstrap */
	/* Responsive webdesign images resize the browser windows to see how
       the image scales to fit the page. */  
    
    .figure .img { border: 1px #cccccc solid; padding: 4px; margin: auto;}

    .figcaption { background-color: black; color: white; font-style: italic;
                 padding: 2px; text-align: center;}
	
	.img { border: 1px solid #ddd; /* Gray border */
          border-radius: 4px;  /* Rounded border */
          padding: 5px; /* Some padding */
          width: 100%; /* Set a small width */ }

    .img .responsive { width: 100%; height: auto;}

    /* Backgroung images responsive / Center and scale the image nicely */
    /* background-size = "cover" or "100% 100%" or "contain" */ 
	/* CSS / Background Responsive */
	
    .background-image { background-image: url("img/motion2018-violeta.jpg");
                       background-repeat: no-repeat;
                       background-attachment: fixed;
					   background-origin: content-box; 
                       background-position: relative; 
                       background-size: 100% 100%;
					   background-color: #f0f0f0; /* branco esverdeado claro */
					   min-width: 10%; max-width: 100%;
					   height: 100%; /* Full height = 100% */
					   overflow-x: hidden; }
					
					
	bg , .background { text-align: justify;  
                      font-weight: 500;
                      color: #0B293E;
					  min-width: 10%; max-width: 100%;
				      height: auto; 
					  border: 0px solid silver; 
			          border-radius: 50%; 
			          float: none; 
			          margin:0; padding:0;
				      top:0; bottom:0; 
					  left:0; right:0;  
					  float: none;
					  border: none; }	
							  

    /* Video Background 2020 / Inicio do CSS de Background Video */
    /* CSS - Style the video: 100% width and height to cover the entire window */    
    .background-video { background: url('../videos/Clouds_5.mp4'); 
	                  width:100%; height:auto; top:0; left:0; right:0; bottom:0; border: 0px; 
					  margin:0; padding:0; background-repeat: no-repeat; position: relative;
					  background-origin: content-box; background-size: cover;}	
    /*  Fim do CSS do Background Video */

	
    h1 .color {color: blue;   text-align: left; }	   
    h2 .color {color: red;    text-align: left; }
    h3 .color {color: violet; text-align: left; }
    h4 .color {color: green;  text-align: left; }
    h5 .color {color: maroon; text-align: left; }
    p  .color {color: black;  text-align: justify; }


    h1 .font-size { font-size: xx-large; } 
    h2 .font-size { font-size: x-large; }
	h3 .font-size { font-size: large; }
    h4 .font-size { font-size: medium; }
	h5 .font-size { font-size: small; }
    p  .font-size { font-size: normal; } 
	
	
	p.normal  { font-weight: normal;}
    p.thick   { font-weight: bold; }
    p.thicker { font-weight: 500; }
	
	hr.style5 { border-top: 1px solid #8c8b8b; }
      	
	
	/* CSS / Rodapé / Footer */ 
	.footer { font-size: 12px; font-weight:normal; font-family: "Arial, Georgia, Sans Serif"; 
             position: fix botton; background-color:#55ACEE; color: black; text-align:justify;
			 margin: 0px; padding: 18px; bottom: 0px; border: 0px; width: 100%; height: auto; }  
			 
	.footer .glyphicon { font-size: 14px; margin-bottom: 20px; color: #f4511e; } /* Orange / laranja escuro */
						  			
	
	/* CSS / Links Color */
	:link { a:link {color: yellow;}    /* unvisited link */
            a:visited {color: green;}  /* visited link */
            a:hover {color: red;}      /* mouse over link */
	        a:active {color: blue;}   /* selected link */
	      }
    /* Fim CSS LINKS Color */
																
	
    /*  Menu Boostrap Navbar  */
    /*  Navbars vem com suporte integrado para um punhado de sub-componentes. 
	    Escolha entre os seguintes, sempre que precisar:
        .navbar-brand para o nome de seu projeto, produto ou companhia;
        .navbar-nav para obter uma leve navegação com suporte a dropdowns;
        .navbar-toggler para usar com nosso plugin collapse e outros comportamentos;
        .form-inline para qualquer campo de formulário e ações;
        .navbar-text para adicionar texto centralizado verticalmente;
        .collapse .navbar-collapse para agrupar e esconder conteúdos navbar, de acordo com o breakpoint do pai. */
		  
	/*	Navbars precisam de um .navbar com .navbar-expand{-sm|-md|-lg|-xl} (para responsividade) 
		e classes do esquema de cores;
		Navbars são responsivas por default. Garanta acessibilidade com o elemento (nav) ou, se estiver 
		usando um elemento mais genérico como (div), coloque (role="navigation") em cada navbar para 
		identificá-lo como tal, em tecnologias assistivas. */
		
	
    /* CSS / Menu Navbar / Style The Navbar / Bootstrap */
	/* Add a black background color to the top navigation */
    /* Use CSS to customize the navigation bar: */	

    .nav { background-color: #f2f2f2; /* branco esverdeado claro */   
          color: #005f5f; /* verde azulado */ position:relative;
		  width: 100%; border:0; cursor: default; display:inline; float: left; 
		  line-height: normal; letter-spacing: normal; word-spacing: normal; }	
				  
	/* Bootstrap / Menu Vertical = Navbar Default  */
	.navbar-default  { float: left !important;}
		
	/* Bootstrap / Menu Horizontal = Navbar Expand  */
	.navbar-expand { float: left !important; }
		
    .nav-link { padding-right: $navbar-nav-link-padding-x;
               padding-left: $navbar-nav-link-padding-x; }
		 				  				 		
	.navbar-header { float: none !important;}

	.navbar-brand { float: none !important;}
								
    .navbar-left, navbar-right { float: none !important;}
						  
	.navbar-toggle { border:0; display: inline !important; position: absolute; cursor: pointer;}
					
	.navbar-collapse { box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
			          z-index: -2; border:0; display: block;}
					   							
    /* Remove border color from the collapsible button */
    .navbar-default, navbar-toggle, button{ text-decoration: none; cursor: default; border:0;}
				
    /* display=inline = Fazendo o Menu ficar posição horizontal */}	
    /* remove the bullets and the margins and padding from the list */
	/* Style the links inside the navigation bar */
    .navbar ul li a { font-size: 12px; color: #d5d5d5;  /* cinza prata */
	                 background-color: #f2f2f2; /* branco esverdeado claro */
					 margin:0px; padding:9px; list-style:none; display:inline;
                     cursor: default; float: left; text-align: center;
	                 line-height: normal; letter-spacing: normal; word-spacing: normal;  
					 transition: width 2s, height 4s; border:0px solid #aaa; }	
				   
    /* The :hover selector is used to select elements when you mouse over them.	*/	
	/* On hover, the links will turn white */
    /* Change the color of links on hover */
    .navbar ul li a:hover { background-color: yellow; color:blue; text-decoration: none; cursor: default; }

    /* Add a color to the active/current link */
    .navbar ul li a:active { color:green; text-decoration: none; cursor: default; }


    /* CSS / Carousel / Banner */
	#myCarousel {
		
	/* Style The Carousel / Use CSS to style the carousel: */  
	/* Set width to 100% / width: 1200px; height: 300px; */  
	
	.carousel-inner img { -webkit-filter: grayscale(0%); margin:0; padding: 10px auto; align:center;
                          filter: grayscale(0%); /* make all photos black and white */ 
	                      width: 100%; height:350px; } /* Set width to 100% / width: 1100px; height: 300px; */    
    
	.carousel-caption p , h3 { color: #ffffff; /* cor branco */
	                           width:100%; height:auto; display:inline; } 
	
    /* Hide the carousel text when the screen is less than 500 pixels wide */
	@media (max-width: 600px) { .carousel-caption { display:none; } }
    
	.carousel-control.right, .carousel-control.left { background-image: none; color: #f4511e; /* laranja escuro */ }
    
	.carousel-indicators li { border-color: #f4511e; /* cor laranja escuro */ }
    
	.carousel-indicators li.active { border-color: #f4511e; /* laranja escuro */ }
	
	
	/* CSS / Background Image Responsive */ 
    .background-image { max-width: 100%; max-height: 100%; background-repeat: no-repeat; 
	                    position: absolute; top: 0; left: 0; right: 0; bottom: 0;
						margin:0; padding:0;  min-width:10%; min-height:10%; 
						background-size: cover; border: 0px solid #aaa;
		                background:transparent; }	
	}

/** Fim do CSS */	

</style>


