<style>

	/* Social Media / Rede Social */	
	
        
	.fa { color: white; 
	      padding: 9px; 
	      font-size: normal; 
	      width: 15px; 
	      text-align: center; 
	      text-decoration: none; 
		  }
        
		
	/* image circle */	
	.fa img { border-radius: 50%; } 	
   

</style>