BODY { SCROLLBAR-FACE-COLOR: #ededed; 
       SCROLLBAR-HIGHLIGHT-COLOR: #999999; 
	   CURSOR: default; 
	   SCROLLBAR-SHADOW-COLOR: #4b4b4b; 
	   SCROLLBAR-3DLIGHT-COLOR: #666666; 
	   SCROLLBAR-ARROW-COLOR: #3333ff; 
	   SCROLLBAR-TRACK-COLOR: #ffffff; 
	   SCROLLBAR-DARKSHADOW-COLOR: #000000; 
	   SCROLLBAR-BASE-COLOR: #789789
}
