* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
}

body {
	background-color: #efefef;
	font-family: "Segoe UI", sans-serif;
}

#page-game {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 100vh;
}

#game {
	display: flex;
	flex-direction: column;
}

#game h1 {
	text-align: center;
	margin-bottom: 20px;
	font-size: 48px;
}

#buttons-grid {
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-template-rows: repeat(4, auto);
	gap: 20px;

	justify-content: center;
	align-items: center;
}

.button {
	width: 100px;
	height: 100px;

	border-radius: 8px;

	background-color: black
}

.button:active {
	box-shadow: 0 0 3px 5px #9ff000;
}

@media (max-width: 550px) {
	#page-game {
		height: auto;
		
		padding-top: 100px;
	}

	#game > h1 {
		font-size: 26px;
	}

	#buttons-grid {
		gap: 5px;
	}

	.button {
		width: 75px;
		height: 75px;
	}
}